template(name="loginControl")
  .AppLayout.no-drag(class="color:white")
    .login-page
      .logo-header
        //- +with session 'settings'
        img.logo(src="http://i.imgur.com/aNF7yFO.gif", alt="logo")
      unless loginInProcess
        if emailPresent
          if codeSent
            div(oo-Form-Item="{{oo}} {{noticeStatus}} {{charLimitStatus}} {{updateStatus}}")
              label(for="newLoginCode") {{ooT "login_AccesCode" "Access code"}}
              input#newLoginCode(type="tel" placeholder=ooTforInput maxlength="5")
              .status
                .notice {{noticeMessage}}
                .limit
                  if validCode
                    button.js-tryLogin.oo-animation--fadeIn(btn="brand raised") {{ooT "login_Login" "Login"}}
                  else
                    button.oo-animation--fadeIn(btn="neutral-tint") {{ooT "login_Login" "Login"}}
            .login-page--section.no-top
              h5.title(oo-Color="text:neutral") {{ooT "login_Msg1_1" "Now check your email for the access code"}}
              h5.title ({{ooT "login_Msg1_2" "Please ensure to check your SPAM folder"}})
              h5.title {{ooT "login_YourEmail" "Your email"}}: {{emailPresent}}
              if resendingCode
                button(btn="neutral-tint small outline push-right") {{ooT "login_ResendCode" "Resend Code"}}
              else
                button(btn="neutral-light small outline push-right").js-resendCode {{ooT "login_ResendCode" "Resend Code"}}
              button.js-resetLogin(btn="neutral-light small outline") {{ooT "btn_Reset" "Reset"}}
          else
            .login-page--loading
              h3.loading--message {{ooT "login_SendingCode" "Sending code"}}...
              button.js-cancelSend(btn="neutral-light small outline") {{ooT "btn_Cancel" "Cancel"}}
        else
          div(oo-Form-Item="{{oo}} {{noticeStatus}} {{charLimitStatus}} {{updateStatus}}")
            label(for="newEmailInput") {{ooT "login_Msg2_1" "Login with your email"}}
            input#newEmailInput(type="email" placeholder=ooTforInput maxlength="50")
            .status
              .notice {{noticeMessage}}
              .limit
                if validEmail
                  button.js-setEmail.oo-animation--fadeIn(btn="brand raised") {{ooT "btn_Next" "Next"}}
                else
                  button.oo-animation--fadeIn(btn="neutral-tint" disabled) {{ooT "btn_Next" "Next"}}
          if guestLogin
            .login-page--section
              h5.title {{ooT "login_Msg3_1" "If you login anonymously, you won't be able to access the same account on another device"}}.
              button(btn="neutral-light small outline").js-logInAsGuest {{ooT "login_LoginAnonymously" "Login anonymously"}}
      else
        .login-page--loading
          h3.loading--message {{ooT "login_LoggingIn" "Logging in"}}...
